bcrypt==3.1.4
boto3==1.6.6
botocore==1.9.6
cffi==1.11.4
Django==1.11
django-appconf==1.0.2
django-imagekit==4.0.2
django-storages==1.6.5
docutils==0.14
futures==3.2.0
jmespath==0.9.3
pilkit==2.0
Pillow==9.0.1
pycparser==2.18
python-dateutil==2.6.1
python-decouple==3.1
pytz==2018.3
s3transfer==0.1.13
six==1.11.0
